 body {
  margin: 0;
}
header {
  background-color: #00BF42;
  padding: 15px;
  margin: 0%;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-image: url("../images/CougarHeroImg.jpg");
  background-color: #EBEBEB;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-size: 100%;
  height: 500px;
 
}
#popup {
  display:none;
  position:absolute;
  margin:0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 50px 2px #000;
}


img{
 max-width: 100%;
 max-height: 100%;
}
.content {
  max-width: 1200px;
  margin: 5;
  padding: 50px;
  display: inline;
  text-align: right;
  color: white;
}
#heroList ul {
  max-width: 1200px;
  margin: 5;
  padding: 50px;
  display: inline-block;
  text-align: right;
  color:white;
}
button {
  padding: 15px;
  background-color: #FFB238;
  color: white;
  font-size: 15px;
  margin: 0%;
}
.BuyTicketButton {
  width: 250px;
  padding-left: 70px;
}
.PlanVisitButton{
  width: 250px;
  padding-left: 20px;
}
.SponsorshipButton{
  width: 250px;
  padding-right: 70px;
}

.flexContainer{
  display: flex;
  width: 100%;
  margin: 5%;
  padding: 0%;
  flex-direction: row;
  justify-content: center;
  align-items:stretch;
  background-color: #FFB238;
}
.WhatsHappening{
  margin:0;
  text-align: center;
  position: center;
}
footer {
  background-color:#388E3C;
  padding: 5px;
  color: white;
}
footer ul {
  list-style: none;
  padding-left: 5px;
  display: center;
}
footer li {
  display: inline-block;
  padding: 0px 30px;
  margin-left: 50px;
  margin-right: 80px;
}
